<launch>

 <arg name="bagrecord" default = "0"/>
    
<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" value="$(find walker)/worldwalker/walkerGazebo.world"/>
    </include>

	<node
	pkg="walker"
	name="Robot"
	type="walker"
	output="screen"
	
    />
   <node pkg="rosbag" 
	type="record" 
	name="walker" 
	args="record -o /$(find walker)/results/record.bag -a -x /camera/(.*) --duration=10" 
	if="$(arg bagrecord)">
  </node>

</launch>
